[Unit]
Description=A test python service
After=multi-user.target

[Service]
Type=idle
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart=/usr/bin/python3 /usr/local/bin/start.py

[Install]
WantedBy=graphical.target
