[Unit]
Description=A test python service
After=multi-user.target

[Service]
Type=idle
ExecStart=DISPLAY=:0 /usr/bin/python3 /usr/local/bin/start.py

[Install]
WantedBy=multi-user.target
